/* 
this is hero section start */
.photo1{
 background-color: black;
 width: 500px;
padding: 50px;
}
.shimu{
 display: inline-flex;
}
/* This is button */
.button{
 margin-left: 150px;
 margin-top: 20px;

}
.icon{
 display: inline-flex;
 margin-left: 150px;
 margin-top: 20px;
 gap: 20px;
}
/* This is hero section end */
.firstcard{

  property: box-shadow,
  class: shadow,
  values:
    null: $box-shadow,
    sm: $box-shadow-sm,
    lg: $box-shadow-lg,
    none: none,
 


}


